
img.d-inline-block.align-text-top{
    width: 50px; /* Ajusta el tamaño a tu gusto */
    height: 50px;
    border-radius: 50%; /* Aplica un contorno redondo */
  }

  .nav-link:hover {
    cursor: pointer;
  }

  .nav-link.italic {
    font-style: italic;
    font-size: 10px;
  }
  
  .navbar-dark {
    background-color: rgba(4, 83, 132, 0.841);
  }